// ===== converts pixels to rem
@function rem($size) {
  $remSize: $size / 16;
  @return #{$remSize}rem;
}

// ==== media-queries
@mixin media-query ($size) {
  @if $size == desktop {
      @media screen and (min-width: 1200px) {
          @content;
      }
  }
  @else if $size == tablet {
      @media screen and (min-width: 992px) {
          @content;
      }
  } 
  @else if $size == tablet-mini {
      @media screen and (min-width: 786px) {
          @content;
      }
  } 
  @else if $size == large-mobile {
      @media screen and (min-width: 602px) {
          @content;
      }
  } 
  @else if $size == mobile {
      @media screen and (min-width: 550px) {
          @content;
      }
  } 
}

// ===== font family  
$font-primary: 'Kanit', sans-serif;

// ==== font weights 
$weight-heavy: 800;
$weight-bold: 700;
$weight-light: 400;
$weight-extra-light: 200;

// ==== colors 
$color-primary: hsl(214,100,50);
$color-secondary: hsl(0,0,100);
$color-bg-primary: hsl(0,0,0);
$color-bg-secondary: rgb(19, 19, 19);
$color-logo: rgba(0, 73, 168, 0.993);

// === border 
$border-primary: 1px solid rgba(196, 196, 196, 0.1);

// ==== max-width
$width-max: 1250px;

// ==== center section
$center-section: 0px auto;

// === section padding

$section-padding: 0px 20px;

 
 /* =============== CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}
li {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  font-size: rem(14);
  font-weight: $weight-light;
}
a:hover {
  transition: 0.5s;
  color: darken($color-primary, 12%);
}

i {
  color: $color-primary;
}
i:hover {
  transition: 0.5s;
  color: darken($color-primary, 12%);
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    background-color: $color-bg-primary;
    font-family: $font-primary;
    color: $color-secondary;
  }

// ==== Hide Content

@include media-query(mobile) {
  .no-mobile {
    display: none;
  }
}
@include media-query(tablet) {
  .no-tablet {
    display: none;
  }
}
@include media-query(desktop) {
  .no-desktop {
    display: none;
  }
}

// ==== typography 

h1 {
  font-size: rem(60);
  line-height: rem(60);
  color: $color-primary;
  font-weight: $weight-heavy;
}
p {
  font-size: rem(16);
  line-height: rem(25);
  color: $color-secondary;
  font-weight: $weight-light;
}
// ==== button
.btn {

  background-color: $color-primary;
  padding: rem(7) rem(20);
  border-radius: rem(50);
  color: $color-secondary;

  @include media-query(tablet) {
    padding: rem(10) rem(45);
    font-size: rem(16);
  }
  
  @include media-query(desktop) {
    padding: rem(12) rem(50);
    font-size: rem(16);
  }

  i {
    color: $color-secondary;
    margin-left: rem(5);
  }
}
.btn:hover {
  transition: 0.5s;
  background-color: darken($color-primary, 12%);
}

// ==== Header

header {
  max-width: 100%;
  min-height: rem(0);
  padding: $section-padding;
  // background-color: red;
  border-bottom: $border-primary;
}
.header__container {
  // background-color: yellow;
  max-width: $width-max;
  margin: $center-section;
  min-height: rem(70);
  display: flex;
  align-items: center;
}
.logo {
  flex: 1;
  a {
    font-size: rem(28);
    color: $color-logo;
    font-weight: $weight-light;
    border-right: $border-primary;
    padding-right: rem(15);
  }
}
.header__button {
  flex: 1;
  text-align: right;
}

// ==== Hero

.hero {
  max-width: 100%;
  min-height: rem(0);
  // background-color: red;
  padding: $section-padding;

  &__container {
    // background-color: yellow;
    max-width: $width-max;
    margin: $center-section;
    border-bottom: $border-primary;
  }

  &__occupation {
    min-height: rem(0);
    // background-color: pink;
    padding: rem(50) rem(0) rem(20) rem(0);

    h1 span {
      color: $color-secondary;
    }
  }
  &__intro {

    a {
      font-size: rem(16);
      line-height: rem(20);
      color: $color-primary;
      font-weight: $weight-light;
      text-decoration: underline;
    }
  }
  &__socials {
    // background:red;

    ul {
      display: flex;
      // background:yellow;
      padding: rem(20) rem(0);

    }
    li {
      flex: 1;
      text-align: left;
    }
    i {
      // background:red;
      font-size: rem(40);
  
      // margin-right: rem(30);
    }
  }
}
.para-mg-top {
  margin-top: rem(10);
}