// ===== converts pixels to rem
@function rem($size) {
  $remSize: $size / 16;
  @return #{$remSize}rem;
}

// ===== media-queries
@mixin media-query ($size) {
  @if $size == desktop {
      @media screen and (min-width: 1200px) {
          @content;
      }
  }
  @else if $size == tablet {
      @media screen and (min-width: 992px) {
          @content;
      }
  } 
  @else if $size == tablet-mini {
      @media screen and (min-width: 786px) {
          @content;
      }
  } 
  @else if $size == large-mobile {
      @media screen and (min-width: 602px) {
          @content;
      }
  } 
  @else if $size == mobile {
      @media screen and (min-width: 300px) {
          @content;
      }
  } 
  @else if $size == mobile-mini {
    @media screen and (min-width: 300px) {
        @content;
    }
} 
}

// ===== font family  
$font-primary: 'Kanit', sans-serif;

// ==== font weights 
$weight-heavy: 800;
$weight-bold: 700;
$weight-light: 400;
$weight-extra-light: 200;

// ==== colors 
$color-primary: hsl(214, 100%, 50%);
$color-secondary: hsl(0,0,100);
$color-footer: hsla(0, 0%, 100%, 0.5);
$color-bg-primary: hsl(0,0,0);
$color-bg-secondary: rgb(12, 12, 12);

// === border 
$border-primary: 1px solid hsla(0, 0%, 77%, 0.1);

// ==== max-width
$width-max: 1250px;

// ==== center section
$center-section: 0px auto;

// === section padding
$section-padding: 0px 20px;

 /* ========================= CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}
li {
  text-decoration: none;
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  font-size: rem(14);
  font-weight: $weight-light;

  @include media-query(desktop) {
    font-size: rem(16);
    line-height: rem(25);
  }
}
a:hover {
  transition: 0.5s;
  color: darken($color-primary, 12%);
}

i {
  color: $color-primary;
}

i:hover {
  transition: 0.5s;
  color: darken($color-primary, 12%);
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

section {
  transition: 1s;
}

body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    background-color: $color-bg-secondary;
    font-family: $font-primary;
    color: $color-secondary;
    position: relative;
  }

// ==== typography 
h1 {
  font-size: rem(50);
  line-height: rem(60);
  color: $color-primary;
  font-weight: $weight-light;

  @include media-query(large-mobile) {
    font-size: rem(60);
    line-height: rem(70);
  }
  @include media-query(tablet-mini) {
    font-size: rem(80);
    line-height: rem(90);
  }
  @include media-query(desktop) {
    font-size: rem(100);
    line-height: rem(100);
  }
}
h2 {
  font-size: rem(32);
  line-height: rem(32);
  color: $color-secondary;
  font-weight: $weight-light;
}
h3 {
  font-size: rem(25);
  line-height: rem(25);
  color: $color-secondary;
  font-weight: $weight-light;
}
p {
  font-size: rem(16);
  line-height: rem(25);
  color: $color-secondary;
  font-weight: $weight-light;

  @include media-query(desktop) {
    font-size: rem(18);
    line-height: rem(27);
  }
}

// ==== button
.btn {

  background-color: $color-primary;
  padding: rem(7) rem(20);
  border-radius: rem(50);
  color: $color-secondary;

  @include media-query(tablet) {
    padding: rem(10) rem(45);
    font-size: rem(16);
  }
  
  @include media-query(desktop) {
    padding: rem(12) rem(50);
    font-size: rem(16);
  }

  i {
    color: $color-secondary;
    margin-left: rem(5);
  }
}

.btn:hover {
  color: $color-secondary;
  transition: 0.5s;
  background-color: darken($color-primary, 12%);
}

hr {
  color: $color-primary;
  background-color: $color-primary;
  height: rem(4);
  width: rem(100);
  margin: rem(25) rem(0) rem(0) rem(-0);
  text-align: left;
  border-radius: rem(50);
  border-color: $color-primary;
}

// ======= Accessibility Settings

// === General Focus State
a:focus {
  outline: rem(3) solid hsl(60, 100%, 50%);   
}

// === Skip Links (TOP)

// .skip__links {
//   margin: 0;

//   a {
//     position: absolute;
//     top: rem(-30);
//     color: $color-secondary;
//     padding: rem(0) rem(10);
//   }

//   a:focus {
//     position: relative;
//     top: 0;
//   }
// } 

// ==== Header Section 

header {
  position: sticky;
  top: 0px;
  width: 100%;
  min-height: rem(0);
  padding: $section-padding;
  background-color: $color-bg-secondary;
  border-bottom: $border-primary;
  z-index: 1;
}
.header__container {
  max-width: $width-max;
  margin: $center-section;
  min-height: rem(70);
  display: flex;
  align-items: center;
}
.logo {
  flex: 1;
  a {
    font-size: rem(28);
    color: $color-primary;
    font-weight: $weight-light;
    border-right: $border-primary;
    padding-right: rem(15);
  }
}
.header__button {
  flex: 6;
  text-align: right;
  display: none;

  @include media-query(mobile) {
    display: block;
  }
}

// ==== Hero Section 
.hero {
  position: relative;
  top: rem(0);
  max-width: 100%;
  min-height: rem(0);
  padding: $section-padding;

  @include media-query(desktop) {
    
  }

  &__container {
    max-width: $width-max;
    margin: $center-section;
    border-bottom: $border-primary;
    display: flex;
    flex-direction: column;

    @include media-query(tablet-mini) {
      flex-direction: row;
      align-items: center;
      padding: rem(100) rem(0);
    }
  }

  &__occupation {
    min-height: rem(0);
    padding: rem(50) rem(0) rem(20) rem(0);

    @include media-query(tablet-mini) {
      flex: 1;
    }
    h1 span {
      color: $color-secondary;
    }
  }
  &__intro {

    @include media-query(tablet-mini) {
      flex: 1;
    }

    a {
      font-size: rem(16);
      line-height: rem(20);
      color: $color-primary;
      font-weight: $weight-light;
      text-decoration: underline;

      @include media-query(large-mobile) {
        font-size: rem(17);
        line-height: rem(26);
      }

      @include media-query(tablet-mini) {
        font-size: rem(18);
        line-height: rem(30);
      }

      @include media-query(desktop) {
        font-size: rem(25);
        line-height: rem(40);
      }
    }
  }
  &__socials {

    ul {
      display: flex;
      padding: rem(20) rem(0);
    }
    li {
      flex: 1;
      text-align: left;
      transition: all 0.5s ease-in-out;

      @include media-query(large-mobile) {
        flex: 0;
        margin-right: rem(25);
      }
      @include media-query(desktop) {
        &:hover {
          transform: translateY(rem(-5));
          transition: all 0.5s ease-in-out;
        }
      }
    }
    i {
      font-size: rem(40);
    }
  }
}
.para-mg-top {
  margin-top: rem(10);
}
.no__mobile {
  display: none;

  @include media-query(tablet-mini) {
    display: block;
  }
}
.no__desktop {
  @include media-query(tablet-mini){
    display: none;
  }
}
.p__hero {
  font-size: rem(16);
  line-height: rem(25);
  color: $color-secondary;
  font-weight: $weight-light;

  @include media-query(large-mobile) {
    font-size: rem(17);
    line-height: rem(26);
  }

  @include media-query(tablet-mini) {
    font-size: rem(18);
    line-height: rem(30);
  }

  @include media-query(desktop) {
    font-size: rem(25);
    line-height: rem(40);
  }
}

.desktop__socials {
  margin-top: rem(50);

  li {
    flex: 0;
    margin-right: rem(30);
  }
}

// ==== Skills & Tools Section

.skills {
  max-width: 100%;
  min-height: rem(0);
  padding: $section-padding;

  i:hover {
    color: $color-primary;
  }

  &__container {
    max-width: $width-max;
    margin: $center-section;
  }

  &__heading {
    padding: rem(70) rem(0) rem(50) rem(0);
  }
  
  &__section {
    margin: rem(0) rem(0);
    display: grid;
    gap: rem(15);
    grid-template-columns: repeat(auto-fit, min-max(1fr, 500px));
    grid-template-rows: 1fr;

    @include media-query(tablet-mini) {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
    }
    @include media-query(desktop) {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 1fr;
    }
  }
}

.skill {
  border: $border-primary;
  border-radius: rem(50);
  padding: rem(25);
  
  p {
    margin-top: rem(20);
  }
  i {
    font-size: rem(30);
  }
  span {
    margin-right: rem(15);
  }
}

.skill--invisible {
  opacity: 0;
  transform: translateY(rem(100));
  transition: 1s;
}
// .skill--visible {
//   opacity: 1;
// }
// ==== Projects

.projects {
  max-width: 100%;
  min-height: rem(0);
  background-color: $color-bg-primary;
  padding: $section-padding;
  margin: rem(50) rem(0);


  &__container {
    max-width: $width-max;
    margin: $center-section;
    padding-bottom: rem(70);
  }
  &__heading {
    padding: rem(50) rem(0) rem(50) rem(0);
  }
  &__section {
    margin: rem(0) rem(0);
    display: grid;
    gap: rem(15);
    grid-template-columns: repeat(auto-fit, min-max(1fr, 500px));
    grid-template-rows: 1fr;

    @include media-query(tablet-mini) {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
    }
    @include media-query(desktop) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr;
    }
  }
}

.project {
  border: $border-primary;
  padding: rem(40) rem(25);
  background-color: $color-bg-secondary;

  &__description {
    padding-bottom: rem(30);
  }
}

.stacks {
  ul {
    display: flex;
    flex-wrap: wrap;
    padding: rem(10) rem(0);
    min-height: rem(0);
  }

  li {
    padding: rem(2) rem(10);
    box-shadow: 0px 0px 10px rgba(0, 0, 255, 0.438);
    background-color: $color-primary;
    font-size: rem(12);
    border-radius: rem(50);
    margin: rem(7) rem(10) rem(7) rem(0);
  }
}

.project__links {

  ul {
    display: flex;
  }
  li {
    flex: 1;
    text-align: right;
  }
  li:first-of-type {
    text-align: left;
    margin-left: rem(-40);
  }
  a {
    text-decoration: underline;
    color: $color-primary;
  }
  i {
    margin-left: rem(5);
  }
}

// ==== Call to action
.cta {
  max-width: 100%;
  min-height: rem(0);
  padding: $section-padding;
  margin: rem(20) rem(0);


  &__container {
    max-width: $width-max;
    margin: $center-section;
    padding: rem(50) rem(0);

    @include media-query(tablet-mini) {
      text-align: center;
      padding: rem(50) rem(150);
    }
    @include media-query(desktop) {
      padding: rem(50) rem(300);
    }

  }
  h2 {
    line-height: rem(40);
  }

  a {
    font-size: rem(16);
    line-height: rem(20);
    color: $color-primary;
    font-weight: $weight-light;
    text-decoration: underline;
  }
  p{
    margin: rem(20) rem(0);
    letter-spacing: 1px;
  }
}

// ===== Footer Section

footer {
  bottom: 0;
  max-width: 100%;
  min-height: rem(0);
  background-color: $color-bg-primary;
  padding: $section-padding;
  border-top: $border-primary;
}

.footer__container {
    max-width: $width-max;
    margin: $center-section;
    padding: rem(20) rem(0);
    display: flex;
    flex-direction: column;

    @include media-query(tablet-mini) {
      flex-direction: row;
      justify-content: space-between;

    }

    p {
      font-size: rem(13);
      color: $color-footer;
      font-weight: $weight-extra-light;
    }
    a {
      color: $color-primary;
      font-size: rem(13);
      font-weight: $weight-extra-light;
    }
    a:hover {
      text-decoration: underline;
      transition: 0.5s;
    }
}


// I kept things simple with the UI, I avoided using distracting animations and pop ups. My goal was to allow a recruiter glance through my portfolio under 20 seconds. 

// I got the UI inspiration from https://eth2.ankr.com/ and some mockups on Pinterest. 